@model TesteLivraria.ViewsModels.LivroAutorViewModel

@{
    /**/

    ViewBag.Title = "LivrosCadastro";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section scripts
{
    @Scripts.Render("~/bundles/jqueryval")

    <script type="text/javascript" src="/Scripts/jquery-1.8.3.min.js" charset="utf-8"></script>
    <script type="text/javascript" src="/Scripts/jquery.maskedinput.min.js"></script>

    <script>
        $(document).ready(
            function () {
                $(".data").inputmask({ "mask": "99/99/9999" });
            }
        );
    </script>
}



<h3>@ViewBag.acao</h3>


@using (Html.BeginForm("Save", "Livraria"))
{

    <div class="form-group-sm">
        <div class="form-group">
            @Html.LabelFor(l => l.Livro.ISBN)
            @Html.TextBoxFor(l => l.Livro.ISBN, new { @class = "form-control", @maxlength = 13 })
            @Html.ValidationMessageFor(l => l.Livro.ISBN)
        </div>


        <div class="form-group">
            @Html.LabelFor(l => l.Livro.Nome)
            @Html.TextBoxFor(l => l.Livro.Nome, new { @class = "form-control" })
            @Html.ValidationMessageFor(l => l.Livro.Nome)
        </div>
        <div class="form-group">
            @Html.LabelFor(l => l.Livro.Preco)
            @Html.TextBoxFor(l => l.Livro.Preco, new { @class = "form-control" })
            @Html.ValidationMessageFor(l => l.Livro.Preco)
        </div>
        <div class="form-group">
            @Html.LabelFor(l => l.Livro.DataPublicacao)
            @Html.TextBoxFor(l => l.Livro.DataPublicacao, new { @class = "form-control data" })
            @Html.ValidationMessageFor(l => l.Livro.DataPublicacao)
        </div>

        <div class="form-group">
            @Html.LabelFor(l => l.Livro.Autor)
            @Html.DropDownListFor(l => l.Livro.Autor.Id, new SelectList(Model.Autores, "Id", "Nome"), "Selecione o Autor", new { @class = "form-control" })
            @Html.ValidationMessageFor(l => l.Livro.Autor.Id)
        </div>
    </div>

    <div class="form-group">
        <button type="submit" class="btn btn-default">Salvar</button>
    </div>
    @Html.AntiForgeryToken()

    @Html.HiddenFor(l => l.Livro.Id)


}
