@model TesteLivraria.ViewsModels.LivroAutorViewModel

@{
    /**/

    ViewBag.Title = "LivrosCadastro";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section scripts
{
    @Scripts.Render("~/bundles/jqueryval")


    <script type="text/javascript">

        $(document).ready(function () {
            $("#btnAutor").click(function () {
                var autor = { nome: document.getElementById("nomeAutor").value };
                $.ajax({
                    url: "/api/Autor",
                    data: JSON.stringify(autor),
                    contentType: "application/json",
                    method: "POST",
                    success: function () {
                        bootbox.alert("Autor cadastrado com Sucesso!", function () {
                            location.reload();
                        });
                    }
                });
            });


            $(".data").inputmask({ "mask": "99/99/9999" });
            $(".valor").inputmask('decimal', {
                'alias': 'numeric',
                'groupSeparator': '.',
                'autoGroup': true,
                'digits': 2,
                'radixPoint': ",",
                'align':"left",
                'digitsOptional': true,
                'allowMinus': false,
                'placeholder': ''
            });

        });
    </script>



}

<br />
@using (Html.BeginForm("Save", "Livraria", FormMethod.Post, new { enctype = "multipart/form-data" }))
{

<div class="form-horizontal panel panel-info" style="width:50%">

    <div class="panel-heading">
        <h3 class="panel-title">@ViewBag.acao</h3>
    </div>
    <div class="panel-body">

        <div class="form-group">
            @Html.LabelFor(l => l.Livro.ISBN, new { @class = "control-label col-lg-2" })
            @Html.TextBoxFor(l => l.Livro.ISBN, new { @class = "form-control col-lg-10  input-sm", @maxlength = 13 })
            @Html.ValidationMessageFor(l => l.Livro.ISBN)
        </div>
        

        <div class="form-group">
            @Html.LabelFor(l => l.Livro.Nome, new { @class = "control-label col-lg-2" })
            @Html.TextAreaFor(l => l.Livro.Nome, new { @class = "form-control col-lg-10 input-sm" })
            @Html.ValidationMessageFor(l => l.Livro.Nome)
        </div>
        <div class="form-group">

            @Html.LabelFor(l => l.Livro.Preco, new { @class = "control-label col-lg-2" })
            <div class="input-group">

                <span class="input-group-addon">
                    R$
                </span>
                @Html.TextBoxFor(l => l.Livro.Preco, new { @class = "valor form-control  input-sm" })

            </div>
            @Html.ValidationMessageFor(l => l.Livro.Preco)
        </div>
        <div class="form-group">
            @Html.LabelFor(l => l.Livro.DataPublicacao, new { @class = "control-label col-lg-2" })
            @Html.TextBoxFor(l => l.Livro.DataPublicacao, new { @class = "form-control col-lg-10 data  input-sm" })
            @Html.ValidationMessageFor(l => l.Livro.DataPublicacao)
        </div>

        <div class="form-group">
            @Html.LabelFor(l => l.Livro.Capa, new { @class = "control-label col-lg-2" })
            @Html.TextBoxFor(l => l.Livro.Capa, new { type = "file", @class = "form-control col-lg-10  input-sm" })
            @Html.ValidationMessageFor(l => l.Livro.Capa)
        </div>


        <div class="form-group ">
            @Html.LabelFor(l => l.Livro.Autor, new { @class = "control-label col-lg-2" })
            <div class="input-group">

                @Html.DropDownListFor(l => l.Livro.Autor.Id, new SelectList(Model.Autores, "Id", "Nome"), "Selecione o Autor", new { @class = "form-control  input-sm" })
                <span class="input-group-btn">
                    <button type="button" class="btn btn-default" data-toggle="modal" data-target="#autorModal"><img alt="Novo autor" src="~/img/mais.png"></button>
                </span>
            </div>
        </div>

        <div class="form-group">
            <div class="col-lg-10 col-lg-offset-2">
                <button type="submit" class="btn btn-group-sm btn-primary">Salvar</button>
            </div>
        </div>
    </div>
    </div>

    @Html.AntiForgeryToken()
    @Html.HiddenFor(l => l.Livro.Id)
    @Html.HiddenFor(l => l.Livro.Caminho)
    }





    <div id="autorModal" class="modal" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h2 class="modal-title">Cadastro de autor</h2>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <label class="control-label col-lg-2"> Autor</label>
                    <input id="nomeAutor" type="text" class="form-control" />
                </div>
                <div class="modal-footer">
                    <button id="btnAutor" type="button" class="btn btn-primary">Salvar</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                </div>
            </div>
        </div>
    </div>
