@model List<TesteLivraria.Models.Livro>


@{
    ViewBag.Title = "LivrosConsulta";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script type="text/javascript">
        function DeleteLivro(idLivro) {
            var redirectPage = "http://" + window.location.host + "/Livraria/LivrosExcluir/" + idLivro;
            if (confirm("Realmente deseja excluir o livro?")) {
                window.location.replace(redirectPage);
            }
            
        }
</script>
<h2>Listagem de livros</h2>
<table class="table table-bordered table-hover">
    <thead>
        <tr style="text-align: center">
            <th>ISBN</th>
            <th>Nome</th>
            <th>Data de Publicação</th>
            <th>Preço</th>
            <th>Autor</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var livro in Model)
        {
            <tr>
                <td>@livro.ISBN</td>
                <td>@livro.Nome</td>
                <td>@livro.DataPublicacao</td>
                <td>@livro.Preco</td>
                <td>@livro.Autor.Nome</td>
                <td>
                    @Html.ActionLink("Editar", "LivrosAtualizacao", new { id = livro.Id }, new { @class = "btn btn-warning" })
                    <button class="btn btn-danger" onclick="DeleteLivro(@livro.Id)">Excluir</button>
                </td>
            </tr>
        }
    </tbody>
</table>